/* erg-wordindex / css styling
 *
 * Summary
 *
 * Imports
 * Preloarer
 * General typography
 * General layout
 * Sidebar menu
 */

/* ----- Imports ----- */
@import '../fonts/font.css';

/* ----- Preloader ----- */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#preloader {
  background-color: #FFF;
  position: fixed;
  right: 50%;
  top: 50%;
  margin-top: -200px;
}

#preloader h3 {
  font-family: "Latin Modern Mono",monospace;
  animation-name: rotating;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* ----- General typography ----- */

body {
    font-family:"Latin Modern Mono",monospace;
    font-size:12pt;
}

/* ----- General layout ----- */

#content {
    width:900px;
    margin-left:400px;
    display:inline-block;
}

/* ----- Siderbar menu ----- */

#menu h1 {
    font-size:18pt;
    display:block;
    margin:0;
    background:#eee;
}



.count {
    font-family:"Latin Modern Mono Light", monospace;
    font-weight:normal;
}
.visible {
    color:blue;
    display:block;
}

.active {
    background:#fff;
    cursor:pointer;
}



#wordIndex {
    padding-top:15px;
    padding-left:15px;
    /*margin-top:55px;*/
}

#wordIndex a {
    color:#000;
    font-size:12pt;
    line-height:12pt;
    text-decoration:none;
}
#wordIndex a:hover {
    text-decoration:underline;
    color:blue;
}
#wordIndex tr:hover > td a {
    text-decoration:underline;
    color:blue;
}

#workIndex tr {
    border-bottom:10px solid #000;
}

#wordIndex tr:hover {
    background:#fff;
    cursor:pointer;
    border-bottom:1px solid #000;
}

.item {
    font-family:"Latin Modern Mono Light", monospace;
    font-weight:normal;
    position:relative;
    /*z-index:999;*/
}

.item h1 {
    font-family:"Latin Modern Mono Light", monospace;
    font-weight:normal;
    cursor:pointer;
    font-size:12pt;
    line-height:12pt;
    border-bottom:1px solid #000;
}

.item h1:hover {
    color:#fff;
    background:#000;
}

/*    .item h1:hover + .item_body{
    display:block;
}*/

.item img {
    max-width:400px;
}

.item div {
    //display:none;
}

.item_body {
    display:none;
}

#RobW-sample {
    width:400px;
    float:left;
    display:inline-block;
    position:fixed;

    top:0px;
    left:0px;

    padding:0px;

    height:100%;

    background:#eee;

    overflow-y:scroll !important;
}

#wordAnalysis td{padding:1px 3px 1px 5px;text-align:left}
.num-words-header{font-weight:bold;border-top:1px solid #000}

#wordAnalysis {
    background:#fff;

    font-size:8pt;
}


  svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    /*z-index:-1;*/
  }
