@font-face {
  font-family: 'Latin Modern Mono';
  src: url('lmmono10-regular.eot'); /* IE9 Compat Modes */
  src: url('lmmono10-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('lmmono10-regular.woff') format('woff'), /* Modern Browsers */
       url('lmmono10-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('lmmono10-regular.svg#918c7e697284d4de7c1bc6e3b6c22656') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Latin Modern Mono Light';
  src: url('lmmonolt10-regular.eot'); /* IE9 Compat Modes */
  src: url('lmmonolt10-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('lmmonolt10-regular.woff') format('woff'), /* Modern Browsers */
       url('lmmonolt10-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('lmmonolt10-regular.svg#ae47d3b5ed9167690ad7e7201a66d0e3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
